APScheduler==3.6.3
certifi==2024.8.30
charset-normalizer==2.0.12
click==8.1.7
dnspython==2.7.0
Flask==2.0.2
Flask-PyMongo==2.3.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pymongo==4.10.1
pytz==2024.2
requests==2.26.0
setuptools==75.2.0
six==1.16.0
tzlocal==5.2
urllib3==1.26.20
Werkzeug==2.0.3
